@page
@model Three_Sisters_Hotel.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bookings.RoomID" class="control-label"></label>
                <select asp-for="Bookings.RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
            </div>
            @*
                <div class="form-group">
                    <label asp-for="Bookings.CustomerEmail" class="control-label"></label>
                    <select asp-for="Bookings.CustomerEmail" class="form-control" asp-items="ViewBag.CustomerEmail"></select>
                </div>
            *@
            <div class="form-group">
                <label asp-for="Bookings.ChecnIn" class="control-label"></label>
                <input asp-for="Bookings.ChecnIn" class="form-control" />
                <span asp-validation-for="Bookings.ChecnIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bookings.CheckOut" class="control-label"></label>
                <input asp-for="Bookings.CheckOut" class="form-control" />
                <span asp-validation-for="Bookings.CheckOut" class="text-danger"></span>
            </div>
            @*
                <div class="form-group">
                    <label asp-for="Bookings.Cost" class="control-label"></label>
                    <input asp-for="Bookings.Cost" class="form-control" />
                    <span asp-validation-for="Bookings.Cost" class="text-danger"></span>
                </div>.
            *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p> @ViewData["rooms"]</p>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@if ((string)ViewData["SuccessDB"] == "success")
{
    <h5>
        the room booked, the level, the Checking in and Checking out dates, and the cost of this booking
        You have booked Room No.<b>@ViewData["Room"]</b> Check in at <b>@Model.Bookings.ChecnIn</b> Check out at <b>@Model.Bookings.CheckOut</b>
    </h5>

    <h5>The Total Price is <b>$@ViewData["total"]</b>.</h5>

    <hr />
}
else if ((string)ViewData["SuccessDB"] == "fail")
{
    <h5>
        This room is not aviliable at the Date.
    </h5>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
